table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 20px 20px;
  border: 10px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.expense-row {
  background-color: #f8d7da; /* Light red */
}

.income-row {
  background-color: #d3f3db; /* Dark green */
}

.saving-row {
  background-color: #b0cef3; /* Light blue */
}

.investment-row {
  background-color: #edebb1; /* Light yellow */
}

#income {
  width: 100px;
}

.date-picker-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.2rem; /* Keep the increased font size */
}

.change-date-button {
  background: white;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
  height: 40px; /* Keep the button height */
  width: 40px; /* Set a fixed width for buttons */
  font-size: 1.2rem; /* Keep the font size of buttons */
}

input[matInput] {
  text-align: center; /* Center the text inside the input */
  height: 40px; /* Decrease input height */
  font-size: 1.2rem; /* Keep the font size of input */
  padding: 5px 10px; /* Reduce padding for less space */
  box-sizing: border-box; /* Ensure padding is included in total height */
}

.mat-datepicker-toggle {
  height: 40px; /* Match the height of the input */
  font-size: 1.2rem; /* Keep the font size of the toggle button */
}

.chart-table-container {
  display: flex; /* Use flexbox */
  justify-content: space-evenly; /* Space out children */
  align-items: flex-start; /* Align items at the start */
  width: 2500px;
  height: 600px;
}

.table-container {
  flex: 1; /* Allow the table to take available space */
  margin-right: 20px; /* Space between table and chart */
  width: 1200px;
  height: 800px;
}

.pie-chart-container {
  width: 600px; /* Set a fixed width for the pie chart */
  height: 600px; /* Ensure it has a set height */
}

.bar-chart-container {
  margin-top: 20px; /* Space above the bar chart */
  width: 600px; /* Ensure it takes full width */
  height: 600px;
}

.add-button-container {
  text-align: center;
  margin-top: 20px;
  width: auto;
}

.display-aggregates-container {
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
}

.manage-categories-container {
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
}

.add-entry-toolbar {
  /*//border: 2px solid #ddd;;*/
  margin: 20px;
}

.icon-button {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.icon-button:hover {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  filter: brightness(0.8);
}

.add-entry-toolbar-label {
  padding: 8px;
  margin: 8px 4px;
}

/* Input and select styles */
input[type="text"], select {
  padding: 8px;
  margin: 8px 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

input[type="number"], select {
  padding: 8px;
  margin: 8px 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

