.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  border-radius: 8px;
  width: 1400px; /* Set modal width to 800px */
  height: 1000px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease;
}

.close-modal:hover {
  color: #000;
}

.table-body-container {
  max-height: 950px; /* Set the maximum height you want */
  height: 950px;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

colgroup col {
  width: auto;
  /*border-left: 1px solid #ddd;*/
}

tr {
  height: 60px;
}

th {
  text-align: center;
  padding: 15px 12px;
  top: 0;
  z-index: 2;
  position: sticky;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.button-row {
  position: sticky;
  top: 60px;
  z-index: 2;
}

.total-row {
  position: sticky;
  top: 120px;
  z-index: 2;
  background-color: #dcdada;
}

label {
  margin: 10px;
}

td {
  text-align: center;
  padding: 15px 12px; /* Increase padding to make rows taller */
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.income-row {
  background-color: #e6ffe6; /* Light green */
}

.expense-row {
  background-color: #ffe6e6; /* Light red */
}

.saving-row {
  background-color: #b0cef3; /* Light blue */
}

.investment-row {
  background-color: #edebb1; /* Light yellow */
}


