<div *ngIf="isVisible" class="modal">
  <div class="modal-content">
    <span class="close-modal" (click)="closeModal()">&times;</span>
      <table>

        <div class="table-body-container">
            <colgroup>
              <col style="width: 25%;">
              <col style="width: 25%;">
              <col style="width: 25%;">
              <col style="width: 25%;">
            </colgroup>
            <thead>
                <tr>
                  <th>Category</th>
                  <th>Day</th>
                  <th>Month</th>
                  <th>Year</th>
                </tr>
                <tr class="button-row">
                  <th></th>
                  <th>
                    <select [(ngModel)]="selectedDay" (ngModelChange)="onDayChanged()">
                      <option *ngFor="let day of days">{{day}}</option>
                    </select>
                  </th>
                  <th>
                    <select [(ngModel)]="selectedMonth" (ngModelChange)="onMonthChanged()">
                      <option *ngFor="let month of months">{{month}}</option>
                    </select>
                  </th>
                  <th>
                    <select [(ngModel)]="selectedYear" (ngModelChange)="onYearChanged()">
                      <option *ngFor="let year of years">{{year}}</option>
                    </select>
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr class="total-row">
                  <td>Total</td>
                  <td>{{getTotalSums()[0] | currency:'EUR'}}</td>
                  <td>{{getTotalSums()[1] | currency:'EUR'}}</td>
                  <td>{{getTotalSums()[2] | currency:'EUR'}}</td>
                </tr>
                <tr *ngFor="let category of categories"
                    [ngClass]="{'income-row': category.type === Type.INCOME, 'expense-row': category.type === Type.EXPENSE, 'saving-row': category.type === Type.SAVING, 'investment-row': category.type === Type.INVESTMENT}">
                  <td>{{category.name}}</td>
                  <td>{{getSumsByCategoryUUID(category.uuid)[0] | currency:'EUR'}}</td>
                  <td>{{getSumsByCategoryUUID(category.uuid)[1] | currency:'EUR'}}</td>
                  <td>{{getSumsByCategoryUUID(category.uuid)[2] | currency:'EUR'}}</td>
                </tr>
          </tbody>
        </div>
      </table>
  </div>
</div>
